<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MovieLibrary</title>
    <!-- Third Party Libraries -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <script src="scripts/jquery-2.1.3.min.js"></script>

    <!-- Scripts -->
    <script src="scripts/movieLibrary.js"></script>
    <script src="scripts/directive.js"></script>
    <script src="partials/MovieDialogController.js"></script>
    <script src="components/movieService.js"></script>

    <!-- CSS -->
    <link href="css/ngDialog.css" rel="stylesheet" />
    <link href="css/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="css/ngDialog-theme-flat.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <!-- Mobile Related Headers -->
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
</head>

<body ng-app="movieLibrary">
    <div ng-controller="HomeController">
        <div class="btn" ng-click="UpdateMovieLibrary()">UpdateMovieLibrary</div>
        <div class="btn" ng-click="GetMovieInfo()">GetMovieInfo</div>
        <div style="clear:both;"></div>
        <div class="lighter">
            <input type="text" class="search rounded" placeholder="Search..." ng-model="searchText">
        </div>
        <div class="container">
            <div ng-repeat="movie in MovieJson | offset: currentPage*itemsPerPage | filter:searchText | limitTo: itemsPerPage" class="thumbnail" ng-click="Open(movie)">
                <div class="movieThumb">
                    <div>
                        <img class="blurayThumb" src="img/bluray_bg.png">
                        <img src="{{movie.img}}" style="border-radius:9px 0 0px 7px">
                    </div>
                    <!--<div class="extension" ng-if="movie.extension.length > 0">{{movie.extension.replace(".","")}}</div>-->
                    <div class="quality" ng-if="movie.quality.length > 0">{{movie.quality}}</div>
                    <div class="title" ng-if="!movie.img">
                        {{$index}}-{{movie.title}}
                        <br />
                    </div>
                </div>
                <div class="rating" ng-if="movie.vote_average">{{movie.vote_average}}/10</div>
            </div>
            <div style="clear: both;"></div>
            
            <div class="btn" ng-click="prevPage()" style="float:left">« Prev</div>
            <div class="btn" ng-click="nextPage()" style="float:right">Next »</div>
        </div>

    </div>
</body>
</html>
